.reports-text{font-size:20px; text-align:center; color:#000; line-height:28px; margin:10px 0; padding:0 8px;}
.pie-chart{width:90%; margin:25px auto 0px;}
.reports-smalltext{color:#2d3d57; font-size:20px; text-align:center; padding:0; margin:0;}
.reports-bigtext{color:#2d3d57; font-size:42px; text-align:center; padding:0; margin:0;}

.bannerdiv-text-white-reports{font-size: 6vw; color: #fff; text-align: center; margin: 0; font-family: 'Lato Semibold'; padding: 15% 0;}

.bannerdiv-text-white-reports span{color: $lightblue;}

.line_chartDiv canvas{
    width: 96% !important;
    margin: 0 auto;
}
.doughnut_chartDiv{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    .chart-doughnut {
        position: relative;
        z-index: 1111;
        height: 80% !important;
        margin: 0 auto;
        width: 80% !important;
    }
    span.chart_cover{
            position: absolute;
            z-index: 2222;
            top: 0px;
            display: block;
            font-size: 16px;
            font-weight: bold;
    }
    span.chart_coverOne{
        color: #ff509e;
        top: 10%;
        left: 5%;
        p{
            display: block;
            font-size: 16px;
            margin: 0px;
            font-weight: normal;
        }
    }
    span.chart_coverTwo{
        color: #84c433;
        top: 10%;
        right: 5%;
        p{
            display: block;
            font-size: 16px;
            margin: 0px;
            font-weight: normal;
        }
    }
    span.chart_coverThree{
        color: #28d7f0;
        bottom: 2%;
        top: inherit;
        left: 5%;
        p{
            display: block;
            font-size: 16px;
            margin: 0px;
            font-weight: normal;
        }
    }
    span.chart_coverFour{
        color: #ff9541;
        bottom: 2%;
        top: inherit;
        right: 5%;
        p{
            display: block;
            font-size: 16px;
            margin: 0px;
            font-weight: normal;
        }
    }
    span.chart_coverTotal {
        color: #656567;
        bottom: 0px;
        top: 45%;
        right: 0px;
        left: 0px;
        text-align: center;
        font-size: 28px;
        p{
            display: block;
            font-size: 24px;
            color: #a2a2a2;
            margin: 0px;
            font-weight: normal;
        }
    }  
}