.custom-item-reportscontinued{padding:0; border:none !important; background:none;}
.customred{color:#e33b0e;}
.customgreen{color:#579a00;}
.customorange{color:#fd6d1e !important;}
.custombutton-email-reports-continued{width:95%; margin:0 auto;}
.orangetitletext{text-align:left; padding-left:15px;}
.aligncenter{text-align: center;}
.reportscont-text{font-family:'Lato Semibold'; color: $darkgrey; padding-left: 5px;}
.paddingtop-reportscont{padding-top: 5%;}
.customgreen{font-size: 5rem !important;}
.customred{font-size: 5rem !important;}

