.settings-help-customlist{border:none !important; background:none; margin:0 !important;}
.settings-help-innerlist{font-size:16px !important; color:#2d3d57 !important; background:none !important;}
ion-label{margin:0;}